MonsterGirl:0
imouto:0
KanMusu:1
ZettaiRyouiki:1
patchuu:0
OneTrueIdol:1
TheRiceGoddess:1
homura:0
TWGOK:0
animelegwear:1
moescape:1
gunime:1
melanime:1
KanMusuNights:0
awwnime:1
pantsu:1
hatsune:0
cutelittlefangs:1
pokeporn:0
ecchi:0
Onodera:0
tsunderes:0
kitsunemimi:0
twintails:1
chinadress:1
fuJoJoshi:0
bishounen:0
sukebei:1
TouRabu:0
TwoDeeArt:0
kemonomimi:1